.header-left img
{
	width: 40%;
	margin-left: 100px;
	padding: 8px;
}
header
{
	background: black;
	display: inline-block;
}
.header-right
{
	float: right;
}
.header-left
{
	float: left;
}
.header-right ul li
{
	list-style: outside none none;
	display: inline-block;
	padding: 15px;
	font-size: 30px;
	border: none;
}
a
{
	color: white;
	border: none;
	text-decoration: none;
}
a:hover
{
	color: green;
}
.header-right ul li:active
{
	border-bottom: 1px solid green;
}
.heading-main
{
	text-align: center;
}
.main-body p
{
	text-align: center;
	padding: 0 100px;
}